body {
  padding-top: 50px;
}


.navbar{
    width:100%;
    font-family: "Raleway";
}

.navbar-default {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color:#777;
    text-align: center;
}

.navbar-nav{
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  border-bottom: 1px solid black;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

#profile {
  background:url('../img/bruce.jpg') top center no-repeat;
  background-size: cover;
  /*font-family: 'Press Start 2P';*/
  color: #4a98db;

}

#profile .intro {
  background: rgba(255, 255, 255, 0.85);
  /*color:#2c2b37;*/
  font-size: 1.5em;
}

#profile .number {
  /*background: rgba(255, 255, 255, 0.85);*/
  /*color: #2c2b37;*/
  font-size: 1em;
}

.content {
  padding: 2% 6%;
  /*border-bottom: #dee4ea solid 1px;*/
}

#profile .social i {
  padding: 3px;
  border: solid #4a98db 1px;
  margin-left: .2%;
}

.social {
  padding: 3% 3%;
  border-bottom: #e0e5ea solid 1px;
  font-size: 1.2em;
}

.about {
  padding: 14% 3%;
  border-bottom: #e0e5ea solid 1px;
  color: #4a98db;
}

.findme {
  padding: 3% 3%;
  color: white;
}

#resume {
  background-color: #fefefe;
  /*background-color: #E1DFDF;*/
}

.box {
  border: gray solid 1px;
  margin-bottom: 2%;
  padding: 4% ;
  font-family: 'Raleway';
  /*background-color: #e6e9ee;*/
  background-color: #fdfdfd;
}

.box i{
  font-size: 3em;
}

#portfolio nav {
  font-family: 'Raleway';
  font-size: 1em;
}

#portfolio {
  padding-bottom: 2%;
  background-color: #fdfdfd;
}

#portfolio .construction{
  margin-left: 5%;
}
#iso {
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}
#iso .item{
  border: solid black 2px;
  font-size: 4em;
  margin-left: 5%;
  /*background-color: #fdfdfd;*/
  /*padding: 2%;*/
  margin-top: 1%;
  /*width: 100px;*/
  /*height: 100px;*/
  /*margin-right: 5%;*/
  /*margin-top: 1%;*/
  /*position: relative;*/
  /*float: left;*/
}


#contact_me i{
  font-size: 2em;
  margin-left: 2.5%;
  color: #333333;
}

#contact_me {
  /*background-color: #dff8f6;*/
  background-color: #79B9E6;
  padding-bottom: 5%;
}

#contact_me h1 {
  text-align: center;
  font-size: 3.5em;
}

#contact_me h1 span {
  border-bottom: 1px black solid;
  padding-bottom: 1.5%;
}

#contact_me h3 {
  font-size: 2.5em
}

#contact_me p {
  font-size: 1.5em;
}

#contact_me .social_med {
  text-align: right;
}

#contact_me .social_med i:hover{
  /*color: #518bcb;*/
  color: #DDDED9;
}

.social_med {
  padding: 3% 3%;
  /*border-bottom: #e0e5ea solid 1px;*/
  font-size: 1.2em;
}

#contact_me .contact_info p i {
  font-size: 1em;
  margin-right: 2%;
  margin-left: 0;
}

#contact_me .email {

}

#contact_me .email a:hover{
  color: #ddded9;
  text-decoration: none;
}

#blog {
  font-family: 'Raleway';
  /*background-color: #dff8f6;*/
  background-color: #39A3EE;
  padding-bottom: 0;
  padding-left: .8%;
  padding-right: 0;
}

#blog h2 {
  margin-left: 3%;
}

#blog h4 {
  margin-left: 3%;
}

.entry {
  /*color: #dff8e8;*/
  color: #e1dfdf;
  padding: 1% 4%;
  height: 410px;
}

.entry p {
  font-size: 1.2em;
  word-spacing: 2px;
  margin-top: 1.8%;
  margin-bottom: 0;
}

.entry .btn_div{
  margin-top: 7%;
  margin-bottom: 1%;
  text-align: center;
}

.entry .button {
  font-size: 1.2em;
  letter-spacing: 2px;
  border: solid white 2px;
  border-radius: 2px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.entry .button:hover{
  background: rgba(255, 255, 255, 0.85);
}

.entry a:link{
  color: white;
}
.entry a:hover{
  text-decoration: none;
}

.entries .block1 {
  background-color: #0E354C;
}

.entries .block2 {
  background-color: #e62b4b;
}

.entries .block3 {
  background-color: orange;
}

footer {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .entry {
  height: 400px;
}

 }
@media (min-width: 992px) and (max-width: 1200px) {
  .entry {
    height: 550px;
 }

}
@media (min-width: 1200px) {
  .entry {
    height: 480px;
  }

 }
