body {
  padding-top: 50px;
}


.navbar{
    width:100%;
    font-family: "Raleway";
}

.navbar-default {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color:#777;
    text-align: center;
}

.navbar-nav{
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  border-bottom: 1px solid black;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

#profile {
  background:url('../img/bruce.jpg') top center no-repeat;
  background-size: cover;
  /*font-family: 'Press Start 2P';*/
  color: #4a98db;

}

#profile .intro {
  background: rgba(255, 255, 255, 0.85);
  /*color:#2c2b37;*/
  font-size: 1.5em;
}

#profile .number {
  /*background: rgba(255, 255, 255, 0.85);*/
  /*color: #2c2b37;*/
  font-size: 1em;
}

.content {
  padding: 2% 6%;
  border-bottom: #dee4ea solid 1px;
}

#profile .social i {
  padding: 3px;
  border: solid #4a98db 1px;
  margin-left: .2%;
}

.social {
  padding: 3% 3%;
  border-bottom: #e0e5ea solid 1px;
  font-size: 1.2em;
}

.about {
  padding: 14% 3%;
  border-bottom: #e0e5ea solid 1px;
  color: #4a98db;
}

.findme {
  padding: 3% 3%;
  color: white;
}

.box {
  border: gray solid 1px;
  margin-bottom: 2%;
  padding: 4% ;
  background-color: #e6e9ee;
}

.box i{
  font-size: 3em;
}

#portfolio nav {
  font-family: 'Raleway';
  font-size: .8em;
}

#portfolio {
  padding-bottom: 2%;
}

#iso {
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}
#iso .item{
  /*width: 25%;*/
  border: solid black 2px;
  margin-left: 5%;
  padding: 2%;
  margin-top: 1%;
  /*margin-right: 5%;*/
  /*margin-top: 1%;*/
  /*position: relative;*/
  /*float: left;*/
}


#contact_me i{
  font-size: 2em;
  margin-left: 2.5%
}

#contact_me {
  background-color: #e6e9ee;
  padding-bottom: 5%;
}

#contact_me h1 {
  text-align: center;
  font-size: 3.5em;
}

#contact_me h1 span {
  border-bottom: 1px black solid;
  padding-bottom: 1.5%;
}

#contact_me h3 {
  font-size: 2.5em
}

#contact_me p {
  font-size: 1.5em;
}

#contact_me .social {
  text-align: right;
}

#contact_me i {
  color: #333333;
}

#contact_me .social i:hover{
  color: #518bcb;
}

#contact_me .contact_info p i {
  font-size: 1em;
  margin-right: 2%;
  margin-left: 0;
}

footer {
  text-align: center;
}
