@media(max-width: 768px){

 #profile .social i {
  font-size: 1.7em;
  margin-left: 3%;
 }

 #profile h1, #profile h2 {
  padding-left: 2%;
 }

 #profile .intro {
    line-height: 1.2em;
  }

  #profile .findme h4{
    padding-left: 2%;
  }

  #iso .item {
    width: 190px;
    height: 190px;
  }

  #iso .js div.project-desc p{
    line-height: 1.3em;
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  #iso .item {
    width: 190px;
    height: 190px;
  }

 }
@media (min-width: 992px) and (max-width: 1200px) {

 #iso .item {
  width: 220px;
  height: 220px;
 }
}

@media (min-width: 1200px) {

  #iso .item {
    width: 220px;
    height: 220px;
  }

  #iso .ruby i {
    font-size: 7em;
  }

  #iso .js > i {
    font-size: 7.4em;
    line-height: 1.42em;
  }

  #iso .js h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  #iso .js div.project-desc p{
    font-size: 1em;
  }

  #iso .design i {
    font-size: 6.2em;
    line-height: 1.7em;
    padding-top: 0;
  }

  #iso .ruby:hover .project-desc i, #iso .js:hover .project-desc i, #iso .design:hover .project-desc i{
    font-size: 2.2em;
    margin-left: 3%;
  }

  #iso .item:hover .project-desc {
    padding: 1%;
  }

 }
