$color-dark-gray: #777;
$color-black: #000;
$color-white-opaque: rgba(255, 255, 255, 0.85);
$color-white: #fff;
$color-sky-blue: #4a98db;
$color-light-blue: #6E94BD;
$color-dark-blue: #336699;
$color-robins-egg: #79B9E6;
$color-blue: #39A3EE;
$color-ocean: #0E354C;
$color-indigo: #789FFF;
$color-gray-opaque: rgba(240, 240, 240, 0.85);
$color-light-gray: #e0e5ea;
$color-gray: #808080;
$color-storm: #e1dfdf;
$color-cloud: #DDDED9;
$color-slate: #2B2827;
$color-granite: #333333;
$color-ruby: #BD0503;
$color-magenta: #e62b4b;
$color-cherry: #FF1D23;
$color-tan: #E5A35E;
$color-sunflower: #FFBE00;
$color-corona: #FFDE20;
